* {
    scroll-behavior: smooth;
    outline: none;
}

h1, h3 {
    color: white;
    font-family: cursive, italic;
    user-select: none;
}

h1 {
    font-family: "Monoton";
    font-size: 7rem;
    line-height: 150%;
    margin-top: 0;
}

article {
    height: 90vh;
    padding: 2.8rem 0;
    position: relative;
}

article.start {
    background-image: url(back.jpg);
    background-position-x: center;
    background-size: auto 100vh;
}

@media (min-aspect-ratio:16/9) {
    article.start {
        background-size: 100vw auto;
    }
}

.avatar {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    height: 14rem;
    display: flex;
    align-items: center;
}

.avatar>* {
    cursor: pointer;
}

.avatar img {
    height: 100%;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: 3rem;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: #041010;
    color: white;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer > * {
    margin-right: 1rem;
}

footer img {
    height: 2.25rem;
}